@{
    ViewData["Title"] = "Home Page";
}
    <div class="hero">
        <div class="left">
            <h2>Movies On One Click</h2>
            <p>Don't fiddle too much, select movies and watch immediately. No gimmicks! No redirection to another fishy website. Just click and watch</p>
            <a class="nav-link text-dark" asp-area="" asp-controller="movies" asp-action="Index"><button>Explore Movies</button></a>
        </div>
        <div class="right">
            <img src="~/images/d.png" />
        </div>
    </div>

